/* Desktop first */

html,
body {
  height: 100%;
  --color-text: #e5e5e5;
  --color-background: #141414;
  font-family: "Jost", sans-serif;
}

.wrapper {
  min-height: 100%;
  background-color: var(--color-background);
  padding: 16px;
  color: var(--color-text);
}

/* Header styles */
.main-header {
  display: flex;
  align-items: center;
  gap: 24px;
  position: sticky;
  top: 0;
  background-color: var(--color-background);
}

.header-logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.platform-title {
  font-size: clamp(2rem, 8vw - 1rem, 5rem);
}

.main-header button {
  background-color: transparent;
  border: none;
  color: var(--color-text);
  cursor: pointer;
  transition: transform 400ms ease-in;
  font-size: 1.5rem;
}
.main-header button:hover {
  transform: scale(1.2);
  transition: transform 200ms ease-out;
  opacity: 0.75;
}

.main-header button:active {
  transform: scale(1);
  transition: transform 100ms ease-out;
}

#top-text::after {
  content: "5";
  font-weight: 700;
}

.section-title {
  margin-top: 32px;
  font-size: 2rem;
}

.top {
  display: flex;
  flex-direction: row-reverse;
}

.top-item {
  flex: 1;
  min-width: 225px;
}

.top-item:hover img {
  transform: scale(1.3);
  transition: transform 200ms ease-out, filter 100ms ease-out;
  transition-delay: 600ms;
  filter: brightness(120%);
  border: 2px solid var(--color-text);
}

.top-item img {
  width: 100%;
  display: block;
  transition: transform 300ms ease-in;
}

.first,
.second {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}

.item {
  flex: 1;
  min-width: 250px;
  max-width: 700px;
}

.item img {
  width: 100%;
  display: block;
}

/* Tablet and mobile */
@media (max-width: 1280px) {
  #top-text::after {
    content: "3";
  }
  .top-item:first-of-type {
    display: none;
  }
  .top-item:nth-of-type(2) {
    display: none;
  }

  .top {
    flex-wrap: wrap-reverse;
  }
}
