/* Desktop first */

html,
body {
  width: 100%;
  --color-text: white;
  --color-background: #141414;
}

.wrapper {
  min-width: 100%;
  background-color: var(--color-background);
  padding: 16px;
  color: var(--color-text);
}

/* Header styles */
.main-header {
  display: flex;
  align-items: center;
  gap: 24px;
  position: sticky;
  top: 0;
  background-color: var(--color-background);
}

.header-logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.platform-title {
  font-size: 1.5rem;
}

.main-header button {
  background-color: transparent;
  border: none;
  color: var(--color-text);
  cursor: pointer;
}

#top-text::after {
  content: "5";
}

.section-title {
  margin-top: 32px;
}

.top {
  display: flex;
  flex-direction: row-reverse;
}

.top-item {
  flex: 1;
  min-width: 225px;
}

.top-item img {
  width: 100%;
  display: block;
}

.first,
.second {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
}

.item {
  flex: 1;
  min-width: 250px;
  max-width: 700px;
}

.item img {
  width: 100%;
  display: block;
}
