/* Desktop first */

html,
body {
  width: 100%;
  --color-text: white;
  --color-background: #141414;
}

.wrapper {
  min-width: 100%;
  background-color: var(--color-background);
  padding: 16px;
  color: var(--color-text);
}

/* Header styles */
.main-header {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 8px;
}

.platform-title {
  font-size: 1.5rem;
}

.main-header button {
  background-color: transparent;
  border: none;
  color: var(--color-text);
  cursor: pointer;
}

#top-text::after {
  content: "5";
}

.section-title {
  margin-top: 32px;
}

.top {
  display: flex;
  flex-direction: row-reverse;
}

.first,
.second {
  display: flex;
}
